# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Java
*.class
*.jar
*.war
*.ear

# Spring Boot
application-local.yml
application-local.properties
*.log

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# OS
.DS_Store

# Env / secrets
.env
*.pem